{% extends 'base.html' %}
{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Components</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Load Components</li>
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            <a href="{%url 'data_loader:load_component'%}" class="btn btn-primary">Load Component</a>
        </div> 
    </div>

    <div class="container">
        {% if components.count %}
        
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Subtype</th>
                    <th>Track</th>
                    <th>Stage</th>
                    <th>D-Next</th>
                    <th>D-Done</th>
                    <th>Action</th>
                    <th>Action Date</th>
                    <th>Assigned to System</th>
                    <th>Supplier</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for component in components %}
                <tr>
                    <td>{{component.name}}</td>
                    <td>{{component.type}}</td>
                    <td>{{component.subtype}}</td>
                    <td>{{component.track}}</td>
                    <td>{{component.stage}}</td>
                    <td>{{component.d_next}}</td>
                    <td>{{component.d_done}}</td>
                    <td>{{component.action}}</td>
                    <td>{{component.action_date}}</td>
                    <td>{{component.assigned_to_system}}</td>
                    <td>{{component.supplied_by}}</td>
                    <td><a href="{% url 'data_loader:edit_component' component.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

</div>

   

{% endblock %}