{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'data_loader:items' %}">Items</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Load Item</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <form method="post" id="CreateItem" data-systems-url="{% url 'data_loader:ajax_load_systems' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_project").change(function () {
        const url = $("#CreateItem").attr("data-systems-url");  // get the url of the `load_cities` view
        const projectId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'project': projectId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_system").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>
{% endblock %}