{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">People</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">People List</li>
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            <a href="{%url 'data_loader:load_person'%}" class="btn btn-primary">Load Person</a>
        </div> 
    </div>

    <div class="container">
        {% if persons.count %}
        
        <table id="myTable" class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Area</th>
                    <th>Role</th>
                    <th>Mail</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for person in persons %}
                <tr>
                    <td>{{person.id}}</td>
                    <td>{{person.full_name}}</td>
                    <td>{{person.area}}</td>
                    <td>{{person.role}}</td>
                    <td>{{person.mail}}</td>
                    <td>
                        <a href="{% url 'data_loader:view_person' person.id %}" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'data_loader:edit_person' person.id %}" class="btn btn-secondary btn-sm">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>
    $(function() {
        $("#myTable").tablesorter();
    });
</script>

{% endblock %}