{% extends 'base.html' %}
{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Projects</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Project List</li>
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            <a href="{%url 'data_loader:load_project'%}" class="btn btn-primary">Load Project</a>
        </div> 
    </div>

    <div class="container">
        {% if projects.count %}
        
        <table id="myTable" class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Track</th>
                    <th>Stage</th>
                    <th>D-Next</th>
                    <th>D-Done</th>
                    <th>Action</th>
                    <th>Action Date</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.track}}</td>
                    <td>{{project.stage}}</td>
                    <td>{{project.d_next}}</td>
                    <td>{{project.d_done}}</td>
                    <td>{{project.action}}</td>
                    <td>{{project.action_date}}</td>
                    <td><a href="{% url 'data_loader:edit_project' project.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

</div>

<script>
    $(function() {
        $("#myTable").tablesorter();
    });
</script>

{% endblock %}