{% extends 'base.html' %}
{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Retiros</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Lista de Retiros</li>
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            {%comment%}
            <!--<a href="{%url 'data_loader:load_item'%}" class="btn btn-primary">Load Item</a>-->
            {%endcomment%}
        </div> 
    </div>

    {% comment %}
    <div class='row'>
        <div class='col'>
            <div class='card card-body'>
                <form method='get'>
                    {{filtros.form}}
                <button class='btn btn-primary' type='submit'> Search </button>
                </form>
            </div>

        </div>
    </div>
    {% endcomment %}


    <div class="container">
        {% if retiros.count %}
        
        <table id="myTable" class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>SubType</th>
                    <th>Manufacturer</th>
                    <th>Manufacturer PN</th>
                    <th>En Stock</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for retiro in page_obj %}
                <tr>
                    <td>{{retiro.id}}</td>
                    <td>{{retiro.type}}</td>
                    <td>{{retiro.subtype}}</td>
                    <td>{{retiro.manufacturer}}</td>
                    <td>{{retiro.manufacturer_pn}}</td>
                    <td>{{retiro.in_stock}}</td>
                    {% comment %}
                    <td>
                        <a href="{% url 'data_loader:view_item' item.id%}" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'data_loader:edit_item' item.id%}" class="btn btn-secondary btn-sm">Edit</a>
                    </td>
                    {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="">
        Showing Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </div>

    <ul class="pagination align-right float-right mr-auto">
        {% if page_obj.has_previous %}
        <li {%if page_obj.number == 1%} class="page-item active" {%endif%}>
            <a class="page-link" href='?page=1'>&laquo; 1</a>
        </li>
        <li class='page-item'>
            <a class='page-link' href='?page={{page_obj.previous_page_number}}'>Previous</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class='page-item'>
            <a class='page-link' href='?page={{page_obj.next_page_number}}'>Next</a>
        </li>
        <li class='page-item'>
            <a class='page-link' href='?page={{page_obj.paginator.num_pages}}'>{{page_obj.paginator.num_pages}} &raquo;</a>
        </li>
        {% endif %}
    </ul>

</div>

<script>
    $(function() {
        $("#myTable").tablesorter();
    });
</script>

{% endblock %}