{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Suppliers</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Supplier List</li>
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            <a href="{%url 'data_loader:load_supplier'%}" class="btn btn-primary">Load Supplier</a>
        </div> 
    </div>

    <div class="container">
        {% if suppliers.count %}
        
        <table id="myTable" class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Web</th>
                    <th>Mail</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    <td>{{supplier.id}}</td>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.web}}</td>
                    <td>{{supplier.mail}}</td>
                    <td>{{supplier.phone}}</td>
                    <td><a href="{% url 'data_loader:edit_supplier' supplier.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>
    $(function() {
        $("#myTable").tablesorter();
    });
</script>

{% endblock %}