{% extends 'base.html' %}
{%block content%}
{% load app_filters %}
<h1>Main Tree View</h1>

<ul id="myUL">
  <li><span class="caret">Projects</span>
    <ul class="nested">
        {% for key, value in data.items %}
            {% comment %}
            <!--<li><a class="{{tags|get_item:key.stage}}" href="{% url 'data_loader:edit_project' key.id %}">{{key.name}} - {{key.track}} - {{key.stage}} </a></li>-->
            {% endcomment %}
            <li><a href="{% url 'data_loader:edit_project' key.id %}">{{key.name}} </a></li>
            {% include "recurse.html" %}

        {% endfor %}
    </ul>
  </li>
</ul>
{%endblock%}