{% extends 'base.html' %}

{%block content%}
<ul id="myUL">
  <li><span class="caret">Projects</span>
    <ul class="nested">
        {% for key, value in data.items %}
            <li>{{key}}</li>
            <li><span class="caret">Systems</span>
                <ul class="nested">
                    {% for key2, value2 in value.items %}
                        <li>{{key2}}</li>
                        <li><span class="caret">Systems</span>
                            <ul class="nested">
                                {% for system in value2 %}
                                    <li>{{system.name}}
                                {% endfor %}
                            </ul>
                    {% endfor %}
                </ul>
        {% endfor %}
        
        <!--{% for key, value in data.items %}
            <li>{{key}}</li>
            <li><span class="caret">Systems</span>
                <ul class="nested">
                    {% for system in value %}
                        <li>{{system.name}}</li>
                    {% endfor %}
                </ul>
        {% endfor %}-->
    </ul>
  </li>
</ul>
{%endblock%}