{% load app_filters %}

{% if value|length %}

<li><span class="caret">Systems</span>
    <ul class="nested">
        {% for key2, value2 in value.items %}
            <li><a href="{% url 'data_loader:edit_system' key2.id %}">{{key2.name}} - {{key2.track}} - {{key2.stage}}</a></li>
            {% include "recurse.html" with value=value2 %}
            
            {% with components=assigned_components|get_item:key2.name %}
            {% if components|length %}
            <li><span class="caret">Components</span>
                <ul class="nested">
                {% for component in components %}
                    <li><a href="{% url 'data_loader:edit_component' component.id %}">{{component.name}} {{component.type}} {{component.subtype}} - {{component.track}} - {{component.stage}}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endwith %}          
        {% endfor %}
    </ul>
</li>
{% endif %}