{% load app_filters %}
{% if value|length %}

<li><span class="caret">Systems</span>
    <ul class="nested">
        {% for key2, value2 in value.items %}
            {% comment %}
            <!--<li><a class="{{tags|get_item:key2.stage}}" href="{% url 'data_loader:edit_system' key2.id %}">{{key2.name}} - {{key2.track}} - {{key2.stage}}</a></li>-->
            <!--<li><a  href="{% url 'data_loader:edit_system' key2.id %}">{{key2.name}} - {{key2.track}} - {{key2.stage}}</a></li>-->
            {% endcomment %}
            <li><a  href="{% url 'data_loader:edit_system' key2.id %}">{{key2.name}}</a></li>
            {% include "recurse.html" with value=value2 %}
            
            {% with items=assigned_items|get_item:key2.name %}
            {% if items|length %}
            <li><span class="caret">Items</span>
                <ul class="nested">
                {% for item in items %}
                    
                    {% comment %}
                    <!--<li><a class="{{tags|get_item:item.stage}}" href="{% url 'data_loader:edit_item' item.id %}">{{item.name}} {{item.type}} {{item.subtype}} - {{item.track}} - {{item.stage}}</a></li>-->
                    {% endcomment %}
                    <li><a href="{% url 'data_loader:edit_item' item.id item.type %}">{{item.type}}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endwith %}          
        {% endfor %}
    </ul>
</li>
{% endif %}