{% load app_filters %}

{% if value|length %}
    <li><span class="caret">Systems</li>
        <ul class="nested">
            {% for key2, value2 in value.items %}
                <li>{{key2.name}}</li>
                {% include "recurse.html" with value=value2 %}
                
                {% with components=assigned_components|get_item:key2.name %}
                {% if components|length %}
                <li><span class="caret">Components</span></li>
                    <ul class="nested">
                    {% for component in components %}
                        <li>{{component.name}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}          
            {% endfor %}
        </ul>
{% endif %}